@import "https://fonts.googleapis.com/css?family=VT323";
body, input, p, a {
	background-color: #000082;
	font-family: 'VT323', monospace;
	font-size: 20px;
	/*font-family: 'Press Start 2P', cursive;*/
	color: #ffffff;
	/*margin-bottom: ;*/
}
body {
	padding-bottom: 21.2px;
	margin: 8px;
}
input {
	resize: none;
	/*color: #000082;*/
	width: 100%;
	/*min-height: 100%;*/
	outline: none;
	/*border: 1px solid #000082;*/
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
p {
	margin-bottom: 0px;
}
.indent {
	margin-left: 17px;
}