:root {
	/*font-size: 16px;*/
	--size: -111.2px;
}
body {
	margin: 0px;
	/*font-size: 16px;*/
}
#fixed {
	display: grid;
	position: sticky;
	grid-template-rows: 3px max-content max-content;
	grid-template-columns: 100vw;
	grid-template-areas: 
		"padding"
		"header"
		"main";
	top: var(--size);
}
header {
	display: grid;
	grid-template-rows: max-content max-content;
	grid-template-columns: 100px calc(100vw - 100px);
	grid-template-areas:
		"logo title"
		"nav nav";
	grid-area: header;
}
.logo {
	grid-area: logo;
	background-image: url(/favicon/beta/favicon_beta_vector.svg);
	background-size: 76.5px;
	background-repeat: no-repeat;
	background-position: 13px 13px;
}
h1 {
	grid-area: title;
	font-size: 90px;
	color: #67d8ef;
	padding-left: 5px;
	margin: 0px;
	margin-bottom: 5px;
}
#headBG {
	background-color: #21242b;
	grid-row: 1/3;
	grid-column: 1;
}
nav#navigationBar {
	/*margin-bottom: 10px;*/
	grid-area: nav;
	width: 100vw;
	padding: 0px;
	/*position: sticky;
	position: -webkit-sticky;
	left: 0px;
	right: 0px;
	top: 0px;*/
}
nav#navigationBar ul {
	list-style-type: none;
	margin: 0px;
	padding: 0;
	overflow: hidden;
}
nav#navigationBar ul li {
		float: left
}
nav#navigationBar ul li.right {
		float: right
}
nav#navigationBar ul li a {
	display: block;
	color: #67d8ef;
	padding: 14px 16px;
	text-decoration: none;
}
nav#navigationBar ul li a.main {
	text-align: center;
}
nav#navigationBar ul li a:hover {
	background-color: #17181c;
}
nav#navigationBar ul li ul {
	background-color: #21242b;
	display: none;
	position: fixed;
}
nav#navigationBar ul li ul li {
	float: none
}
nav#navigationBar ul li a:hover + ul {
	display: initial;
}
nav#navigationBar ul li ul:hover {
	display: initial;
}
/*@supports (some atribute) {
	css only applied if that atriute is supported 
}*/