body {
			background-color: #9400bb;
		}

		body {
			text-align: center
		}

		body {
			font-family: Papyrus, fantasy;
		}

		h1 {
			font-size: 50;
			font-weight: bold;
		}

		h3 {
			font-size: 25;
			font-weight: bold;
		}

		p {
			font-size: 15;
			font-weight: bold;
		}