@font-face {
  font-family: "Courier Prime";
  src: url(./fonts/CourierPrime.ttf);
}
@font-face {
  font-family: "Courier Prime";
  src: url(./fonts/CourierPrime-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: "Courier Prime";
  src: url(./fonts/CourierPrime-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Courier Prime";
  src: url(./fonts/CourierPrime-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}


:root {
    --main-color: tan;
    --translucent: rgba(210, 180, 140, 0.5);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Courier Prime', 'Courier New', Courier, monospace;
    color: #222;
    font-size: 16px;
}

main {
    position: relative;
    height: 100vh;
    background-color: var(--main-color);
    overflow: clip;
}

main > * {
    position: absolute;
}

#canvasContainer {
    cursor: pointer;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

#canvasShadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 0 45px var(--main-color), 
        inset 0 0 35px var(--main-color), 
        inset 0 0 24px var(--main-color), 
        inset 0 0 20px var(--main-color), 
        inset 0 0 15px var(--main-color);
    pointer-events: none;
}

.testPoint {
    width: 2px;
    height: 2px;
    background-color: green;
}

.definition {
    width: 300px;
    pointer-events: none;
    background-color: rgba(210, 180, 140, 0.75);
    box-shadow: 0 0 45px var(--translucent), 
        0 0 35px var(--translucent), 
        0 0 24px var(--translucent), 
        0 0 20px var(--translucent), 
        0 0 15px var(--translucent);
}

.definition > p:not(:last-child) {
    margin-bottom: 10px;
}

.disappear {
    animation: 1s ease-in-out fade-out;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#instructions {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    animation: 1s ease-in-out 6s both fade-out;
    pointer-events: none;
}

#instructions > :first-child {
    animation: 1s ease-in-out 1s reverse both fade-out;
}

#instructions > :last-child {
    animation: 1s ease-in-out 3s reverse both fade-out;
}

#statement {
    background-color: wheat;
}

#statement h2 {
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
}

#statement p {
    text-indent: 0.5in;
    text-align: justify;
}

#statement p:last-child {
    margin-bottom: 0;
}

#statement-content {
    max-width: min(6.5in, 90%);
    margin: auto;
    padding: 0.5in 0;
}