body {
	text-align: center;
	font-size:200px;
	margin:150px;
	color:#EE2277;
	text-shadow: 0px 0px 20px #EE2277;
	background-image: url("../img/Hourglass.gif");
}
a:link {
	color: #EE2277;
}
a:visited {
	color: #a7145d;
}
.number{
	font-size: 100px;
	font-weight: bold;
}
.label{
	font-size: 50px;
}
.smallNumber{
	font-size: 30px;
}
form{
	font-size: 30px;
/*	border: 2px solid #a7145d;
	border-radius: 4px;
	color: #EE2277;*/
}
input{
	border: 2px solid #a7145d;
	border-radius: 4px;
	background: #0d1532;
	color: #EE2277;
	height: 30px;
}
input:focus{
	border: 3px solid #EE2277;
}
select{
	border: 2px solid #a7145d;
	border-radius: 4px;
	background: #0d1532;
	color: #a7145d;
	height: 30px;
	/*margin: 10px;*/
}
select:focus{
	border: 3px solid #EE2277;
	color: #EE2277;
}
img{
	margin-top: 2px;
	margin-bottom: -17px;
	border: 2px solid #EE2277;
}
.two{
	width: 25px;
}
.three{
	width: 30px;
}
.four{
	width: 35px;
}