body {
	text-align: center;
	font-size:200px;
	margin:150px;
	color:#70dfbf;
	text-shadow: 0px 0px 20px #70dfbf;
	background-image: url("../img/Hourglass2.gif");
}
a:link {
	color: #70dfbf;
}
a:visited {
	color: #8cc4e0;
}
.number{
	font-size: 100px;
	font-weight: bold;
}
.label{
	font-size: 50px;
}
.smallNumber{
	font-size: 30px;
}
form{
	font-size: 30px;
/*	border: 2px solid #8cc4e0;
	border-radius: 4px;
	color: ##70dfbf;*/
}
input{
	border: 2px solid #8cc4e0;
	border-radius: 4px;
	background: #3f1fcf;
	color: #70dfbf;
	height: 30px;
}
input:focus{
	border: 3px solid #70dfbf;
}
select{
	border: 2px solid #8cc4e0;
	border-radius: 4px;
	background: #3f1fcf;
	color: #8cc4e0;
	height: 30px;
	/*margin: 10px;*/
}
select:focus{
	border: 3px solid ##70dfbf;
	color: ##70dfbf;
}
img{
	margin-top: 2px;
	margin-bottom: -17px;
	border: 2px solid ##70dfbf;
}
.two{
	width: 25px;
}
.three{
	width: 30px;
}
.four{
	width: 35px;
}