body {
	text-align: center;
	font-size:200px;
	margin:150px;
	color:#28beb4;
	text-shadow: 0px 0px 20px #28beb4;
	background-image: url("../img/Hourglass.gif");
}
a:link {
	color: #28beb4;
}
a:visited {
	color: #24877e;
}
.number{
	font-size: 100px;
	font-weight: bold;
}
.label{
	font-size: 50px;
}
.smallNumber{
	font-size: 30px;
}
form{
	font-size: 30px;
/*	border: 2px solid #24877e;
	border-radius: 4px;
	color: #28beb4;*/
}
input{
	border: 2px solid #24877e;
	border-radius: 4px;
	background: #0f524d;
	color: #28beb4;
	height: 30px;
}
input:focus{
	border: 3px solid #28beb4;
}
select{
	border: 2px solid #24877e;
	border-radius: 4px;
	background: #0f524d;
	color: #24877e;
	height: 30px;
	/*margin: 10px;*/
}
select:focus{
	border: 3px solid #28beb4;
	color: #28beb4;
}
img{
	margin-top: 2px;
	margin-bottom: -17px;
	border: 2px solid #28beb4;
}
.two{
	width: 25px;
}
.three{
	width: 30px;
}
.four{
	width: 35px;
}