:root {
	--primary: #EE2277;
	--secondary: #a7145d;
	--tertiary: #0d1532;
}
body {
	text-align: center;
	font-size: 200px;
	margin: 150px;
	color: var(--primary);
	text-shadow: 0px 0px 20px var(--primary);
	background-image: url("../img/Hourglass.gif");
}
h1 {
	font-size: 100px;
}
p {
	font-size: 30px;
}
/*#HourglassMenu{

}*/
.popup{
	border: 2px solid var(--primary);
	background: var(--tertiary);
	padding: 15px;
	font-size: 15px;
	position: fixed;
	position: -webkit-fixed;
	top: 10px;
	right: 10px;
}
.bottom{
	position: fixed;
	position: -webkit-fixed;
	bottom: 0px;\
	left: 0px;
	right: 0px;
	width: 100%;
	padding: 15px;
}
.warning{
	border: 2px solid #000000;
	/*background: var(--tertiary);*/
	background: #eeee00;
	color: #000000;
	font-size: 15px;
}
.x{
	margin: 0px;
	background-color: transparent;
	color: #bbbbbb;
	width: 20px;
	height: 20px;
	padding: 0px;
	top: 0px;
	right: 0px;
	position: absolute;
}
.x:hover{
	background-color: #ff0000;
	color: #ffffff;
}
a:link {
	color: var(--primary);
}
a:visited {
	color: var(--secondary);
}
.number{
	font-size: 100px;
	font-weight: bold;
}
.label{
	font-size: 50px;
}
.smallNumber{
	font-size: 30px;
}
form{
	font-size: 30px;
}
input{
	border: 2px solid var(--secondary);
	border-radius: 4px;
	background: var(--tertiary);
	color: var(--primary);
	height: 30px;
	margin: 1px;
}
input:focus{
	border: 3px solid var(--primary);
}
.two{
	width: 25px;
}
.three{
	width: 30px;
}
.four{
	width: 35px;
}
select{
	border: 2px solid var(--secondary);
	border-radius: 4px;
	background: var(--tertiary);
	color: var(--secondary);
	margin: 1px;
	height: 30px
}
select:focus{
	border: 3px solid var(--primary);
	color: var(--primary);
}
img{
	margin-top: 2px;
	margin-bottom: -17px;
	border: 2px solid var(--primary);
}