body {
	text-align: center;
	font-size:200px;
	margin:150px;
	color:#EE2277;
	text-shadow: 0px 0px 20px #EE2277;
	background-image: url("../img/Hourglass.gif");
 
}
a:link {
	color: #EE2277;
}
a:visited {
	color: #a7145d;
}
.number{
	font-size: 100px;
	font-weight: bold;
}
.label{
	font-size: 50px;
}
.smallNumber{
	font-size: 30px;
}
